.heading {
  font-size: 2.5rem;
  color: #787676;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.people-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.person-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
}

.person-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.people-page .person-photo {
  max-width: 100%; /* Allows the image to take up full available width */
  height: auto;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1); /* Stronger shadow for the person page */
}

.person-details {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.person-name {
  font-size: 25px;
  color: #6D2800;
  margin: 0;
  font-weight: bolder;
}

.person-role {
  font-size: 16px;
  color: #6a6a6a;
  margin: 0;
  font-weight: bold;
}

.person-bio {
  font-size: 14px;
  color: black;
  margin: 0;
  text-align: center;
}

@media (max-width: 768px) {
  .person-photo {
      height: 200px;
  }

  .person-name {
      font-size: 1.3rem;
  }

  .person-role {
      font-size: 0.9rem;
  }

  .person-bio {
      font-size: 0.85rem;
  }
}