body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1; /* Allows main content to grow and take up available space */
}

.person-body {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
}

.person-poster {
  width: auto;
}

.person-poster img {
  max-width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.person-info {
  max-width: 600px;
}

.person-info p {
  margin: 10px 0;
}

.person-info strong {
  font-weight: bold;
  color: #f39c12;
}
