.person-body {
  display: flex;
  justify-content: center;
}

.person-poster {
  width: auto;
}

.person-poster img {
  max-width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.person-info {
  max-width: 600px;
  margin-left: 30px;
}

.person-info p {
  margin: 10px 0;
}

.person-info strong {
  font-weight: bold;
  color: #f39c12;
}

@media (max-width: 1024px) {
  .person-body {
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }

  .person-info {
    max-width: none;
    margin-top: 30px;
    margin-left: 0;
  }
}
